#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: "matugen",
    cache_dir: Some("/tmp/rmpc/cache"),
    browser_song_sort: [Title, Artist, Disc, Track],
    lyrics_dir: "~/.lyrics",
    on_song_change: None,
    status_update_interval_ms: 1000,
    enable_mouse: true,
    enable_config_hot_reload: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 0, height: 0),
        vertical_align: Top,
        horizontal_align: Center,
    ),
    cava: (
        framerate: 60,
        autosens: true,
        sensitivity: 130,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            samble_bits: 16,
        ),
        smoothing: (
            noise_reduction: 25,
            monstercat: false,
            waves: false,
        ),
    ),
    keybinds: (
        global: {
            "q":       Quit,
            "?":       ShowHelp,
            "O":       ShowOutputs,
            "I":       ShowCurrentSongInfo,
            "<C-p>":   ShowDecoders,
            ":":       CommandMode,
            ".":       VolumeUp,
            ",":       VolumeDown,
            ";":       ShowDownloads,
            "p":       TogglePause,
            "s":       Stop,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Home"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Playlists"),
            "4":       SwitchToTab("Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Genre"),
            "7":       SwitchToTab("Queue"),
            "8":       SwitchToTab("Cava"),
            "9":       SwitchToTab("Search"),
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleSingle,
            "v":       ToggleConsume,
            "f":       SeekForward,
            "b":       SeekBack,
        },
        navigation: {
            "<C-Up>":      PaneUp,
            "<C-w>k>":     PaneUp,
            "<C-Down>":    PaneDown,
            "<C-w>j>":     PaneDown,
            "<C-Left>":    PaneLeft,
            "<C-w>h>":     PaneLeft,
            "<C-Right>":   PaneRight,
            "<C-w>l>":     PaneRight,
            "<C-u>":       UpHalf,
            "<C-d>":       DownHalf,
            "<C-b>":       PageUp,
            "<C-f>":       PageDown,
            "N":           PreviousResult,
            "n":           NextResult,
            "gg":          Top,
            "G":           Bottom,
            "h":           Left,
            "j":           Down,
            "k":           Up,
            "l":           Right,
            "J":           MoveDown,
            "K":           MoveUp,
            "a":           Add,
            "A":           AddAll,
            "r":           Rename,
            "R":           Rate(),
            "<Space>":     Select,
            "<C-Space>":   InvertSelection,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "I":           ShowInfo,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "d":           Delete,
            "<C-x>":       ContextMenu(),
            "<C-s>":       Save(),
            "t":           AddOptions(),
        },
        queue: {
            "d":           Delete,
            "D":           DeleteAll,
            "<CR>":        Play,
            "<C-s>":       Save,
            "C":           JumpToCurrent,
            "<C-o>":           SortByColumn(1),
            "X":           Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    ),
    /*
    /* for don theme */
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "30%",
                        borders: "RIGHT",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Lyrics)
                                ),
                                (
                                    size: "0.409090909r",
                                    pane: Pane(AlbumArt),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "100%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    borders: "TOP",
                                    size: "20",
                                    pane: Pane(Cava)
                                ),
                            ],
                        ),
                    )
                ],
            ),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Album Artists",
            border_type: None,
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
        (
            name: "Testing",
            border_type: Single,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "40%",
                        pane: Pane(Queue),
                    ),
                    (
                        size: "60%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "50%",
                                    pane: Pane(Directories),
                                ),
                                (
                                    size: "50%",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "60%",
                                                pane: Split(
                                                    direction: Vertical,
                                                    panes: [
                                                        (
                                                            size: "50%",
                                                            pane: Pane(Albums),
                                                        ),
                                                        (
                                                            size: "50%",
                                                            pane: Pane(Artists),
                                                        ),
                                                    ],
                                                ),
                                            ),
                                        ],
                                    ),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
    ],
    */

    /* for nord theme */
    tabs: [
        (name: "Home", pane: Split(direction: Horizontal, panes: [
            (size: "65%", borders: "NONE", pane: Split(direction: Vertical, panes: [
                (size: "3", borders: "ALL", border_symbols: Rounded , pane: Pane(QueueHeader())),
                (size: "100%", borders: "ALL", border_symbols: Rounded ,pane: Pane(Queue)),
            ])),
            (size: "35%", borders: "NONE", border_symbols: Rounded ,pane: Split(direction: Vertical, panes: [
                (size: "0.37r", borders: "TOP | RIGHT | LEFT",
                    border_symbols: Rounded,
                    pane: Pane(Cava)
                ),
                (size: "100%", borders: "ALL",
                    border_symbols: Library("rounded_collapsed_top"),
                    border_title: [
                        (kind: Text("┐"), style: (fg: "#81a1c1")),
                        (kind: Text("Lyrics"), style: (fg: "#81a1c1")),
                        (kind: Text("┌"), style: (fg: "#81a1c1")),
                    ],
                    border_title_position: Top,
                    border_title_alignment: Right,
                    pane: Pane(Lyrics)
                ),
            ])),
        ])),
        (name: "Directories", pane: Split(direction: Horizontal,panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Directories)),
        ])),
        (name: "Playlists", pane: Split(direction: Horizontal, panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Playlists)),
        ])),
        (name: "Artists", pane: Split(direction: Horizontal, panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Browser(
                root_tag: "artist",
                levels: [
                    (group_by: [[Artist]],
                        skip: SingleEmpty,
                    ),
                    (group_by: [[Album], [Other("date"), Other("originaldate")]],
                        format: [
                            (kind: Group([
                                (kind: Text("(")),
                                (kind: Property(Other("date"))),
                                (kind: Text(") ")),
                            ])),
                            (kind: Property(Album)),
                        ],
                    ),
                ],
            ))),
        ])),
        (name: "Albums", pane: Split(direction: Horizontal, panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Browser(
                root_tag: "album",
                levels: [
                    (group_by: [[Album]]),
                ],
            ))),
        ])),
        (name: "Genre", pane: Split(direction: Horizontal, panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Browser(
                root_tag: "genre",
                levels: [
                    (group_by: [[Other("genre")]]),
                    (group_by: [[AlbumArtist, Artist]],
                        sort_by: [[AlbumArtist, Artist]],
                        format: [
                            (kind: Property(AlbumArtist), default: (kind: Property(Artist), default: (kind: Text("no artist")))),
                        ],
                        skip: SingleEmpty,
                    ),
                    (group_by: [[Album], [Other("date"), Other("originaldate")]],
                        format: [
                            (kind: Group([
                                (kind: Text("(")),
                                (kind: Property(Other("date"))),
                                (kind: Text(") ")),
                            ])),
                            (kind: Property(Album)),
                        ],
                        skip: UnpackEmpty,
                    ),
                ],
            ))),
        ])),
        (name: "Queue", pane: Split(direction: Vertical, panes: [
            (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded, pane: Pane(QueueHeader())),
            (size: "100%", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
                border_title: [
                    (kind: Text("● "), style: (fg: "#81a1c1")),
                    (kind: Property(Song(File)), style: (fg: "#4c566a")),
                    (kind: Text(" ●─"), style: (fg: "#81a1c1")),
                ],
                border_title_position: Bottom,
                border_title_alignment: Right,
                pane: Pane(Queue)
            ),
        ])),
        (name: "Cava",pane: Split(direction: Vertical, panes: [
            (size: "50%", pane: Split(direction: Horizontal, panes: [
                (size: "39%", borders: "ALL", border_symbols: Rounded, pane: Pane(Queue)),
                (size: "22%", borders: "ALL", border_symbols: Rounded, pane: Pane(AlbumArt)),
                (size: "39%", borders: "ALL",
                    border_title: [
                        (kind: Text("┐"), style: (fg: "#81a1c1")),
                        (kind: Text("Lyrics"), style: (fg: "#81a1c1")),
                        (kind: Text("┌─"), style: (fg: "#81a1c1")),
                    ],
                    border_title_position: Top,
                    border_title_alignment: Right,
                    border_symbols: Rounded,
                    pane: Pane(Lyrics)
                ),
            ])),
            (size: "50%", borders: "ALL", border_symbols: Rounded, pane: Pane(Cava)),
        ])),
        (name: "Search", pane: Split(direction: Horizontal, panes: [
            (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Search)),
        ])),
    ],
)
