@import "colors.css";

#workspaces {
  margin: 4px 5px;
  padding: 6px 6px;
  background-color: @surface_container;
  border-radius: 24px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0px 2px;
  border-radius: 24px;
  background-color: @secondary;
  transition: all 0.2s ease-in-out;
}

#workspaces button.special {
  color: @tertiary_fixed;
}

#workspaces button.empty {
  background-color: @outline_variant;
}

#workspaces button.active {
  padding: 0px 4px;
  background-color: @primary;
  color: @on_primary;
  min-width: 25px;
}

#workspaces button:hover {
  background-color: @surface_container_highest;
  color: @primary;
}

#workspaces button.active:hover {
  background-color: @primary;
  color: @on_primary;
}

#workspaces button.urgent {
  color: @error_container;
}
